PORT=3000
DEPLOYMENT_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173

# MongoDB database connection
MONGO_URI=

# Secret for generating JWT, can be any string
JWT_SECRET=

# GitHub App authentication
GITHUB_CLIENT_ID=
GITHUB_SECRET=

# Supabase storage
SUPABASE_URL=
SUPABASE_SERVICE_KEY=

# Redis cache
REDIS_URL=